/* Temporary css for visualizing element relationships. */

  /* Red Div */
  .layGuide {
    background: rgba(200, 150, 150, 0.30);
    border: 1px solid red;

  }

  /* Blue Div */
  .layGuide1 {
    background: rgba(150, 150, 200, 0.30);
    border: 1px solid blue;

  }

  /* Yellow Div */
  .layGuide3 {
    background: rgba(50, 250, 250, 0.30);
    border: 1px solid orange;

  }
/* ^^^Temporary css for visualizing element relationships.^^^ */

.header-img {
  height: 64px;
}
nav ul a,
nav .brand-logo {
  color: #fff;
}

html {
  background-color: black;
}

h2 {
    font-size: 1.56rem;
    font-weight: 400;
    text-align: center;
    /* text-shadow: 0 0 4px #666; */
    line-height: 250%;
    color: #fff;
    padding-bottom: 10px;
    /* margin: 1.78rem 0 1.424rem 0; */
}

h1 {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    /* text-shadow: 0 0 4px #666; */
    padding-bottom: 10px;
    /* line-height: 110%; */
    /* color: antiquewhite; */
    /* margin: 2.1rem 0 1.68rem 0; */
}

#background-video {
/*  making the video fullscreen  */
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto%;
  z-index: -100;
  opacity: 0.65;

/* Adjustments for viewing the nice part of the video. */
  margin-left: -750px;
  margin-top: -150px;
}


#animated-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    overflow-y: hidden;
    opacity: 0.65;
}

#animated-background-wrapper {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1000;
    min-width: 960px;
}

h6 {
  margin-top: 25px;
  font-size: 18px;
}

.fa-paw {
  margin-top: 11px;
  margin-left: 8px;
}

#submit {
  margin-top: 20px;
  margin-left: 20px;
}

#topper {
  margin-top: 75px;
}

#rotater {
  margin-top: -15px;

}

.modal.bottom-sheet {
  max-height: 66%;
}


#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

span .card-title {
  font-weight: 600;

}

.halfway-fab {
  top: 22px !important;
}

#imgCustom img {
  opacity: 0.75;
}

#imgCustom {
  background: black;
}

#txtCustom {
  font-weight: 400;
}

.collapsible-body {
  background-color: white;
}
