/* Temporary css for visualizing layout. */
.layGuide {
  background: rgba(200, 150, 150, 0.40);
  border: 1px solid red;

}

.tempNotice {
  background: rgba(200, 200, 200, 0.40);
}

.header-img {
  height: 64px;
}
nav ul a,
nav .brand-logo {
  color: #fff;
}

h2 {
<<<<<<< HEAD
  color: red;
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 250%;
  text-shadow: 0 0 px #666;
=======
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 4px #666;
    padding-bottom: 10px;
     font-size: 1.56rem;
    line-height: 250%;
>>>>>>> e633c8947567f1a5828bf1266ca9bb1bb72c7167
}

h1 {
    color: red;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 4px #666;
    padding-bottom: 10px;

}

/*inner text*/

.txt {
    text-shadow: 0 1px 4px rgba(77,71,81,.3);
    margin-bottom: 20px;
    color: #fff;
    text-align: -webkit-center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    text-transform: none;
}

* {
    -webkit-overflow-scrolling: touch;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.btn_clear {
    border-color: #fff;
    background-color: transparent important! ;
    text-shadow: 0 1px 3px rgba(77,71,81,.3);
}

.btn {
    padding: 0;
    margin: 0;
    border: none;
    background: #e91e63;
    color: inherit;
    text-decoration: inherit;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    max-width: 100%;
    padding: 11px 30px;
    border: 2px solid #fff;
    border-radius: 23px;
    /*background-color: transparent;*/
    -webkit-box-shadow: 0 1px 3px rgba(77,71,81,.2);
    box-shadow: 0 1px 3px rgba(77,71,81,.2);
    color: #fff;
    white-space: nowrap;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-transform: uppercase;
    -webkit-appearance: none;
    font-size: 1.2rem;
    line-height: 1.4;
    -webkit-transition: background-color .1s,border-color .1s,color .1s,-webkit-box-shadow .1s;
    transition: background-color .1s,border-color .1s,color .1s,-webkit-box-shadow .1s;
    -o-transition: background-color .1s,border-color .1s,box-shadow .1s,color .1s;
    transition: background-color .1s,border-color .1s,box-shadow .1s,color .1s;
    transition: background-color .1s,border-color .1s,box-shadow .1s,color .1s,-webkit-box-shadow .1s;
}
.btn:hover {
  background-color: transparent
}

/*Ends here*/
#background-video {
/*  making the video fullscreen  */
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto%;
  z-index: -100;

/* Adjustments for viewing the nice part of the video. */
  margin-left: -200px;
  margin-top: 0px;
}


#animated-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    overflow-y: hidden;
}

#animated-background-wrapper {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1000;
    min-width: 960px;
}

.container {
  /* Adjustments for vertically centering content. */
  margin-top: 130px;
}

h6 {
  margin-top: 28px;
  font-size: 14px;
}

.fa-paw {
  margin-top: 11px;
  margin-left: 8px;
}

#submit {
  margin-top: 20px;
  margin-left: 11px;
}
