/* Temporary css for visualizing layout. */
.layGuide {
  background: rgba(200, 150, 150, 0.40);
  border: 1px solid red;

}

#background-video {
/*  making the video fullscreen  */
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto%;
  z-index: -100;

/* Adjustments for viewing the nice part of the video. */
  margin-left: -200px;
  margin-top: 0px;
}

.container {
  /* Adjustments for vertically centering content. */
  margin-top: 130px;
}

h6 {
  margin-top: 28px;
  font-size: 14px;
}

.fa-paw {
  margin-top: 11px;
  margin-left: 8px;
}

#submit {
  margin-top: 20px;
  margin-left: 20px;
}
