/* Temporary css for visualizing layout. */
.layGuide {
  background: rgba(200, 200, 200, 0.65);
  border: 1px solid red;

}

#background-video {
/*  making the video fullscreen  */
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto%;
  z-index: -100;

/* Adjustments for viewing the nice part of the video. */
  margin-left: -380px;
  margin-top: -100px;
}

.container {
  /* Adjustments for vertically centering content. */
  margin-top: 225px;
}

h6 {
  margin-top: 28px;
  font-size: 14px;
}

.fa-paw {
  margin-top: 12px;
  margin-left: 8px;
}

#submit {
  margin-top: 20px;
}
